{
  "plugins": ["jest"],
  "extends": ["standard", "plugin:jest/recommended"],
  "globals": {
    "n": "readonly",
    "r": "readonly",
    "assertDependencies": "readonly",
    "assertNodeEngines": "readonly"
  }
}
