# note that .npmignore must be copied into each project
# it does not lookup .npmignore from parent folders

.vscode
coverage
.nyc_output
.circleci
.eslintrc.js
.eslintignore
build/
.releaserc.json

# serverless stores its packages and temp files in here
.serverless
serverless.yml

# npm pack leftovers
*.tgz

.webpack


# npm pack leftovers
*.tgz
